
.nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #52BE80 ;
    pointer-events: none;
    opacity: 0;
    transition: 0.4s;
    z-index: 3;
}

.nav__container{
    background: #52BE80 ;
    color: white;
}

.nav__container a{
    color: white;
}

.nav-show{
    opacity: 1;
    pointer-events: unset;
}

.nav__ul{
    list-style: none;
    padding: 2em;
}

.text-nav{
    padding: 1em;
}

button{
    border: none;
    cursor: pointer;
}

.button__nav{
    cursor: pointer;
}
