.profile-container{
    max-width: 600px;
    width: 90%;
    margin: auto;
    background: white;
    /* border: 1px solid black; */
    border-radius: 0.5em;
}

.table-data{
    width: 100%;
    text-align: center;
    
}

.btn-change-profile{
    display: none;
}

.show-edit-profile{
    display: block;
}