.container-tasks{
    background: #EAEDED;
    width: 90%;
    margin: auto;
    padding: 1em;
    border-radius: 0.5em ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1{
    color: white;
    margin: 1em;
}

span{
    cursor: pointer;
    text-align: center;
    
}