.bar_task{
    max-width: 600px;
    width: 100%;
    margin: auto;
    background: white;
    /* border: 1px solid black; */
    border-radius: 1em;
    padding: 0.5em;
    transition: 0.5s;
}

.bar_task-creating{
    opacity: 0.3;
    pointer-events: none;

}

.boton_task{
    border-radius: 0.5em;

}

.bar_task-flex{
    display: flex;
    justify-content: space-between;
}

.creating_task{
    display: none;
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 1em;
    padding: 1em;
}

.creating_task-show{
    display: block;
}

.creating_task label, input{
    display: block;
    padding: 0.5em;
}

/*.creating_task*/ input, textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.creating_task textarea{
    height: 200px;
}


.importan_checkbox{
    display: inline;
}

.period_input{
    display: inline;
    width: 200px;
}

.bar_task-grid{
    display: grid;
    grid-template-columns: 2fr auto;
    align-items: center;
}

.task-botons button{
    border-radius: 0.5em;
}

.btn-task{
    border-radius: 0.5em;
    padding: 0.5em;
}

.status_date-flex{
    display: flex;
    justify-content: space-evenly;
}

.task_container{
    display: none;
    transition: 0.5s;
}

.back-task{
    width: 100%;
    background: #eee;
    border: none;
    padding: 0.5em;
}

.show-task{
    display: block;

}


